<div *ngIf="fridge">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="page-header">{{fridge.name}}</h2>
			<ul class="list-group">
				<li class="list-group-item">
					Columnas: {{fridge.columns}}
				</li>
				<li class="list-group-item">
					Filas: {{fridge.rows}}
				</li>
				<li class="list-group-item">
					Bandejas: {{fridge.trays}}
				</li>
			</ul>
			<div *ngIf="fridge.array" class="row">
				<table  class="table table-striped table-hover ">
					<thead>
						<tr>
							<th></th>
							<th *ngFor="let fila of fridge.array; let i = index" [attr.data-index]="i">Columna: {{i}}</th>
						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let fila of fridge.array let i = index" [attr.data-index]="i" >
							<td>Fila {{i}}</td>
							<td *ngFor="let columna of fila" class="status{{columna}}">{{columna}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>