<div class="jumbtron text-center">
	<h1>
		Smart Fridge
	</h1>
	<p class="lead">
		Bienvenido a la administracion de tu Smart Fridge
	</p>
	<div>
		<a *ngIf="!authService.loggedIn()" class="btn btn-primary" routerLink="/registrar">Registrar</a><a *ngIf="!authService.loggedIn()" class="btn btn-primary" routerLink="/login">Iniciar Sesion</a>
		<a *ngIf="authService.loggedIn()" class="btn btn-primary" routerLink="/perfil">Ver Perfil</a><a *ngIf="authService.loggedIn()" class="btn btn-primary" routerLink="#">Ver Refrigeradoras</a>
		
	</div>
</div>

