<div *ngIf="store">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="page-header">Ventas</h2>

			<div class="row">
				<table  class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Cantidad</th>
							<th>Refrigeradora</th>
							<th>Fecha y Hora</th>
						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let venta of store" >
							<td>{{venta.quantity}}</td>
							<td>{{venta.fridge[0].name}}</td>
							<td>{{parseDate(venta.datetime)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>