<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SmartFridge</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!authService.loggedIn()" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
        <a routerLink="/login" >Login</a>
      </li>
      <li *ngIf="!authService.loggedIn()" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
        <a routerLink="/registrar" >Registrar</a>
      </li>

      <li *ngIf="authService.loggedIn()" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
        <a routerLink="/perfil">Perfil</a>
      </li>
      <li *ngIf="authService.loggedIn()" routerLinkActiveOptions="{exact:true}" routerLinkActive="active">
        <a routerLink="/dashboard" >Dashboard</a>
      </li>

      <li *ngIf="authService.loggedIn()"><a (click)="onLogOut()" href="#">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>
