<div *ngIf="user">
	<div class="row">
		<div class="col-sm-9">
			<h2 class="page-header">{{user.nombre}}</h2>
			<ul class="list-group">
				<li class="list-group-item">
					Usuario: {{user.usuario}}
				</li>
				<li class="list-group-item">
					Email: {{user.email}}
				</li>
			</ul>
			<div class="container" *ngIf="stores">
				<div class="row">
					<div class="col">
						<h3 class="page-header">Tiendas <a class="btn btn-info" routerLink="/tienda">Nueva Tienda</a></h3>
						
					</div>
				</div>
				<div class="row">
					<table  class="table table-striped table-hover ">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Direccion</th>
								<th>Telefono</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody *ngFor="let store of stores">
							<tr>
								<td>{{store.name}}</td>
								<td>{{store.address}}</td>
								<td>{{store.telephone}}</td>
								<td><a class="btn btn-danger" (click)="deleteStore(store._id)" routerLink="/perfil">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<h3 class="page-header">Refrigeradoras</h3>
			<ul class="list-group" *ngFor="let fridge of fridges">
				<a (click)="goToFridgeDetails(fridge._id)" ><li class="list-group-item">{{fridge.name}}</li></a>
			</ul>
		</div>
	</div>

</div>